
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="allocation">
        <ion-icon name="podium-outline"></ion-icon>
        Allocation
      </ion-tab-button>
      <ion-tab-button tab="customers">
        <ion-icon name="people-circle-outline"></ion-icon>
        Customers
      </ion-tab-button>
      <ion-tab-button tab="menu">
        <ion-icon name="menu"></ion-icon>
        Menu
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
